attrs==22.1.0
beautifultable==1.1.0
colorama==0.4.6
coverage==6.5.0
exceptiongroup==1.0.4
greenlet==2.0.1
iniconfig==1.1.1
numpy==1.23.5
packaging==21.3
pandas==1.5.2
pip==22.0.4
pluggy==1.0.0
psycopg2==2.9.5
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
setuptools==58.1.0
six==1.16.0
SQLAlchemy==1.4.45
tomli==2.0.1
wcwidth==0.2.5
wheel==0.38.4
